.error, .alert-error, .errorlist {
    color: crimson;
}

.alert-success {
    color: green;
}

:root {
    --color-primary: #212121;
    --color-secondary: #757575;
    --color-brand: #0466C8;
    --color-brand-dk: #023E7D;
    --color-light: #fff;
    --color-bg-dark: #2f303a;
    --color-bg-light: #f5f4fa;
    --color-logo: #212121;
    --color-bg-blue: #001F54;
    --element-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

body {
    background-color: var(--color-light);
    color: var(--color-primary);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.42px;
    font-weight: 400;
}

h1 {
    font-size: 24px;

}

.header {
    width: 100%;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg-blue);
    padding: 10px 60px;
}

.top-bar .date-time,
.top-bar .language {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-light);
    text-decoration: none;
}
.top-bar .language:hover {
    color: var(--color-brand);
    font-weight: 600;
    text-decoration: underline;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg-light);
    padding: 20px 60px;
    box-shadow: var(--element-shadow);
}

.nav-bar .brand {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-logo);
    text-decoration: none;
}

.nav-bar .brand:hover {
    color: var(--color-brand);
}

.nav-bar .brand .accent {
    color: var(--color-brand);
}

.nav-bar .auth-links a {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-primary);
    text-decoration: none;
}

.nav-bar .auth-links a:hover {
    font-weight: 600;
    color: var(--color-brand);
}

.content-container {
    display: flex;
    max-width: 1200px;
    margin: 40px auto;
    gap: 20px;
}

main {
    flex: 2;
}

aside {
    flex: 1;
}

.news-form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    margin-bottom: 40px;
    box-shadow: var(--element-shadow)
}

.news-form-container label {
    display: block;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
}

.news-form {
    display: flex;
    gap: 20px;
    align-items: center;
}

.news-form .form-group {
    flex: 1;
}

.news-form .form-group select,
.news-form .form-group input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #ffffff;
    color: #212529;
    font-size: 14px;
    height: 40px;
}

.news-form .submit-button {
    width: auto;
    height: 40px;
    font-size: 14px;
    line-height: 1.5;
    padding: 4px 20px;
    background-color: var(--color-brand);
    color: var(--color-light);
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    box-shadow: var(--element-shadow);
}

.news-form .submit-button:hover {
    background-color: var(--color-brand-dk);
}

.news-section {
    margin-bottom: 40px;
}

.category-link {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-brand);
    text-decoration: underline;
    margin-bottom: 20px;
}

.category-link:hover {
    color: var(--color-brand-dk);
}

.news-list {
    list-style-type: none;
    padding-left: 0;
}

.news-item {
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;
}

.news-time {
    width: 50px;
    flex-shrink: 0;
    color: var(--color-secondary);
}

.news-content {
    flex-grow: 1;
    padding-left: 10px;
}

.news-content a {
    word-wrap: break-word;
    color: var(--color-primary);
    font-size: 14px;
    text-decoration: none;
}

.news-content a:hover {
    text-decoration: underline;
}

.news-content span {
    font-size: 14px;
    color: var(--color-secondary);
}

.view-more {
    font-size: 14px;
    color: var(--color-brand);
    text-decoration: underline;
    display: block;
    margin-top: 20px;
    text-align: right;
}

.view-more:hover {
    text-decoration: none;
    color: var(--color-brand-dk);
}

.weather-container {
    background-color: var(--color-bg-light);
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    margin-bottom: 40px;
    box-shadow: var(--element-shadow);
}

.weather-container label {
    display: block;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
}

.weather-container .time {
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 14px;
}

.weather-container .weather-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-container .city_name {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-primary);
}

.weather-container .weather-link {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-brand);
    text-align: right;
    text-decoration: none;
}

.weather-container .weather-link:hover {
    color: var(--color-brand-dk);
}

.weather-details {
    margin-top: 20px;
}

.weather-details .main-info {
    display: flex;
    align-items: center;
}

.temperature {
    font-size: 36px;
    font-weight: 600;
    color: var(--color-primary);
    margin-right: 12px;
}

.weather-details .main-info img {
    width: 80px;
    height: 80px;
    margin-right: 12px;
}

.weather-details .condition {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-primary);
    margin-top: 10px; /* Відступ зверху */
}

.other-details {
    display: flex;
    flex-direction: column;
}

.other-details p {
    font-size: 14px;
    font-weight: normal;
    color: var(--color-secondary);
    margin: 5px 0;
}

.other-details p strong {
    font-size: 14px;
    font-weight: bold;
    color: var(--color-primary);
}

.weather-form-container {
    margin-top: 20px;
}

.weather-form {
    display: flex;
    gap: 20px;
    align-items: center;
}

.weather-form .form-group {
    flex: 1;
}

.weather-form .form-group input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #ffffff;
    color: #212529;
    font-size: 14px;
    height: 24px;
    margin-top: 4px;
}

.weather-form .submit-button {
    width: auto;
    height: 40px;
    font-size: 14px;
    line-height: 1.5;
    padding: 4px 20px;
    background-color: var(--color-brand);
    color: var(--color-light);
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--element-shadow);
    margin-left: 20px;
}

.weather-form .submit-button:hover {
    background-color: var(--color-brand-dk);
}

.exchange-rates {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    margin-bottom: 40px;
    box-shadow: var(--element-shadow);
}

.exchange-rates-header {
    padding-bottom: 20px;
    text-align: right;
}
.exchange-rate-link {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-brand);
    text-align: right;
    text-decoration: none;
}

.exchange-rate-link:hover {
    color: var(--color-brand-dk);
}

.exchange-rates-table {
    width: 100%;
    border-collapse: collapse;
}

.exchange-rates-table th,
.exchange-rates-table td {
    padding: 8px;
    text-align: center;
    border: none;
}

.exchange-rates-table th {
    font-weight: 400;
    color: #757575;
}

.exchange-rates-table td {
    font-weight: 400;
    color: #757575;
}

.exchange-rates-table .rate-value {
    font-weight: 600;
    color: #212121;
}

.exchange-rates-table tr.odd {
    background-color: #ffffff;
}

.exchange-rates-table tr.even {
    background-color: #f1f1f1;
}

.category-list {
    list-style-type: none;
    padding-left: 0;
}

.category-item {
    margin-bottom: 20px;
}

.category-item a {
    font-size: 18px;
    color: var(--color-brand);
    text-decoration: none;
}

.category-item a:hover {
    text-decoration: underline;
    color: var(--color-brand-dk);
}

.category-item a.active {
    color: var(--color-primary);
}

.currency-converter-section {
    padding: 20px;
    background-color: var(--color-bg-light);
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: var(--element-shadow);
}

.currency-converter-section label {
    display: block;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-primary);
}

.currency-converter-form {
    display: flex;
    flex-direction: column;
}

.currency-converter-form .form-group {
    margin-bottom: 10px;
}

.currency-converter-form label {
    display: block;
    margin-bottom: 8px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-primary);
}

.currency-converter-form select,
.currency-converter-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #ffffff;
    color: var(--color-primary);
    font-size: 14px;
}

.currency-converter-form button {
    width: 100%;
    padding: 10px;
    background-color: var(--color-brand);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.currency-converter-form button:hover {
    background-color: var(--color-brand-dk);
}

.unit-selection-box {
    background-color: var(--color-bg-light);
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    margin-bottom: 40px;
    box-shadow: var(--element-shadow);
}

.unit-selection-title {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.unit-selection {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.unit-option {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.unit-radio-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.unit-radio-group input[type="radio"] {
    margin-right: 5px;
}

.submit-button, .unit-radio-group label {
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.submit-button:hover, .unit-radio-group label:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wind-direction {
    display: flex;
    align-items: center;
}

.wind-direction .bi {
    margin-left: 5px;
    font-size: 14px;
    color: var(--color-primary);
}

.location-info {
    text-align: left;
    margin-bottom: 20px;
}

.location-info h1 {
    font-size: 24px;
    color: var(--color-primary);
    margin: 0;
}

.location-info h2 {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-secondary);
}

.location-info p {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-secondary);
}

.weather-overview {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    margin-bottom: 30px;
}

.weather-icon img {
    width: 100px;
    height: 100px;
}

.weather-details {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-details .temperature {
    font-size: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.temp-value {
    display: inline-flex;
    align-items: flex-start;
}

.temp-unit {
    font-size: 32px;
    vertical-align: super;
}

.condition-feelslike {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 20px;
    margin-right: 20px;
}
.condition-feelslike .condition {
    font-size: 20px;
    color: var(--color-primary);
    font-weight: 600;
}

.condition-feelslike .feelslike {
    font-size: 16px;
    color: var(--color-primary);
}


.additional-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.detail {
    flex: 1 1 12%;
    background: var(--color-light);
    padding: 10px 4px;
    margin: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.detail:nth-child(odd) {
    background: var(--color-bg-light);
}

.detail span:first-child {
    display: block;
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 14px;
}






/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #212529;
        color: #f8f9fa;
    }

    .top-bar {
        background-color: #495057;
    }

    .nav-bar {
        background-color: #343a40;
    }

    .news-form-container,
    .weather-container,
    .exchange-rates {
        background-color: #343a40;
        border: 1px solid #495057;
    }

    .news-form .form-group select,
    .news-form .form-group input[type="text"] {
        background-color: #495057;
        color: #f8f9fa;
        border: 1px solid #6c757d;
    }

    .submit-button {
        background-color: #fd7e14;
    }

    .submit-button:hover {
        background-color: #e8590c;
    }

    .news-list li {
        color: #f8f9fa;
    }

    .news-list li a {
        color: #0dcaf0;
    }

    .exchange-rates th,
    .exchange-rates td {
        border: 1px solid #495057;
    }

    .exchange-rates th {
        background-color: #495057;
        color: #f8f9fa;
    }

    .exchange-rates td {
        background-color: #343a40;
        color: #f8f9fa;
    }
}
