<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Personal Assistant App{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'newsapp/style.css' %}">
    <link rel="icon" href="{% static 'newsapp/favicon.ico' %}">
</head>

<body>
    <header class="header">
        <div class="left">
            <div class="buttons">
                <a href="/" role="button" class="homepage-button">{{ translations.dashboard }}</a>
                {% block nav_left_buttons %}{% endblock %}
            </div>
        </div>
        <div class="right">
            <div>
                {% block nav_right_buttons %}
                <div class="lang-buttons">
                    <a href="?lang=en" role="button" class="outline">EN</a>
                    <a href="?lang=uk" role="button" class="outline">UA</a>
                </div>
                {% endblock %}
            </div>
        </div>
    </header>

    <main class="container">
        {% block content %} {% endblock %}
    </main>

</body>
</html>
