<!DOCTYPE html>
<html lang="{{ request.session.language|default:'en' }}">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Personal Assistant App{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
        rel="stylesheet" />
    <!-- <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/> -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'newsapp/styles.css' %}">
    <link rel="icon" href="{% static 'newsapp/favicon.ico' %}">
    {% block style %}{% endblock %}
    {% block script %}{% endblock %}
</head>

<body>
    <header class="header">
        <div class="top-bar flex-container">
            <div class="date-time">
                <span>{{ current_time }} - {{ current_date }}</span>
            </div>
            <a href="?lang={% if request.session.language == 'en' %}uk{% else %}en{% endif %}" class="language">
                {% if request.session.language == 'en' %}
                Українською
                {% else %}
                English
                {% endif %}
            </a>
        </div>
        <nav class="nav-bar flex-container">
            <a class="brand" href="{% url 'newsapp:index' %}">
                <span class="accent">Nexus</span>Suite
            </a>

            <div class="auth-links">
                {% if request.user.is_authenticated %}
                <a href="{% url 'users:logout' %}">{{ translations.logout }}</a>
                {% else %}
                <a href="{% url 'users:signup' %}">{{ translations.sign_up }}</a>
                <a href="{% url 'users:login' %}">{{ translations.login }}</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <div class="content-container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }}
                </li>
                {% endfor %}
        </ul>
        {% endif %}
        {% block content %} {% endblock %}
    </div>

</body>

</html>