{% extends "newsapp/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}{{ translations.todays_news_from }} {{ category_translations|get_item:selected_category }}{% endblock %}

{% block content %}

<main>
    {% if error_message %}
    <h1>{{ translations.unable_to_fetch_news }}</h1>
    {% else %}
    <h1>{{ category_title }}</h1>
    {% endif %}
    <section class="news-section">
        <ul class="news-list">
            {% for article in articles %}
            <li class="news-item">
                <div class="news-time">
                    <small>
                        {{ article.published_at|format_time_filter:request.session.language }}
                    </small>
                </div>
                <div class="news-content">
                    <a href="{{ article.url }}">{{ article.title }}</a>
                    <span>({{ article.source }})</span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
</main>

<aside>
    <div class="sidebar-container">
        <h2 for="country">{{ translations.select_news_country }}</h2>
        <form method="GET" action="{% url 'newsapp:news_by_category' selected_category %}" class="sidebar-container-form news-form">
            <div class="form-group">
                <select id="country" name="country">
                    {% for code, name in countries.items %}
                    <option value="{{ code }}" {% if code == selected_country %}selected{% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="submit-button">{{ translations.update_news }}</button>
        </form>
    </div>
    <h2>{{ translations.categories }}</h2>
    <ul class="category-list">
        {% for category in categories %}
        <li class="category-item">
            <a href="{% url 'newsapp:news_by_category' category %}"
                class="{% if category == selected_category %}active{% endif %}">
                {{ category_translations|get_item:category }}
            </a>
        </li>
        {% endfor %}
    </ul>
</aside>

{% endblock content %}