{% extends "newsapp/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}NexusSuite{% endblock %}

{% block content %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        fetch(`/set_timezone/?timezone=${timezone}`, { method: 'GET' });
    });
</script>

<main>
    <h1>
        <a href="{% url 'newsapp:news_by_category' 'general' %}" class="header-link">
            {{ translations.todays_news }}
        </a>
        {{ translations.from }}
        {{ genitive_country_name }}
    </h1>
    {% if error_message %}
    <p>{{ translations.unable_to_fetch_news }}</p>
    {% else %}
    <section class="news-section">
        <ul class="news-list">
            {% for article in articles %}
            <li class="news-item">
                <div class="news-time">
                    <small>
                        {{ article.published_at|default_if_none:"N/A"|format_time_filter:request.session.language }}
                    </small>
                </div>
                <div class="news-content">
                    <a href="{{ article.url }}">{{ article.title }}</a>
                    <span>({{ article.source }})</span>
                </div>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'newsapp:news_by_category' 'general' %}" class="view-more">
            {{ translations.all_main_news }}
        </a>
    </section>
    {% endif %}
</main>

<aside>
    <div class="sidebar-container weather-box">
        <div class="weather-header">
            <span class="city_name">{{ selected_city }}</span>
            <div>
                <a href="{% url 'newsapp:weather' %}" class="header-link">{{ translations.weather }} ></a>
            </div>
        </div>
        {% if weather_data %}
        <p class="time">{{ user_update_time }}</p>
        <div class="weather-details">
            <div class="main-info">
                <div class="temperature">
                    <div class="temp-value">
                        {{ weather_data.current.temperature_c }}<sup class="temp-unit">°C</sup>
                    </div>
                </div>
                <img src="{{ weather_data.current.icon_url }}" alt="Weather Icon">
                <div class="other-details">
                    <p><span>{{ translations.humidity_ix }}</span>: <strong>{{ weather_data.current.humidity }}%</strong></p>
                    <p><span>{{ translations.pressure_ix }}</span>: <strong>{{ weather_data.current.pressure_mm }} {{ translations.mmHg }}</strong></p>
                    <p><span>{{ translations.wind_ix }}</span>: <strong>{{ weather_data.current.wind_mps }} {{ translations.mps }}</strong></p>
                </div>
            </div>
            <p class="condition"><strong>{{ weather_data.current.condition }}</strong></p>
        </div>
        {% else %}
        <p>{{ translations.unable_to_retrieve_weather }}.</p>
        {% if weather_error_message %}
        <div class="alert-error">{{ weather_error_message }}</div>
        {% endif %}
        {% endif %}

        <div class="weather-form-container">
            <form method="GET" action="{% url 'newsapp:index' %}" class="sidebar-container-form weather-form">
                <input type="hidden" name="country" value="{{ selected_country }}">
                <div class="form-group">
                    <input type="text" id="city" name="city" placeholder="{{ translations.enter_city_name }}"
                        value="{{ selected_city }}" required>
                </div>
                <button type="submit" class="submit-button">{{ translations.update_weather }}</button>
            </form>
        </div>
    </div>
    <div class="sidebar-container">
        {% if exchange_rate_error_message %}
        <div class="alert-error">
            {{ exchange_rate_error_message }}
        </div>
        {% else %}
        <div class="exchange-rates-header">
            <a href="{% url 'newsapp:exchange_rates' %}" class="header-link">{{ translations.exchange_rates }}
                ></a>
        </div>
        <table class="exchange-rates-table">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ translations.rate }}</th>
                    <th>{{ translations.purchase }}</th>
                    <th>{{ translations.sale }}</th>
                </tr>
            </thead>
            <tbody>
                {% for rate in exchange_rates %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td>{{ rate.currency }}</td>
                    <td class="rate-value">{{ rate.saleRateNB }}</td>
                    <td class="rate-value">{{ rate.purchaseRate|default_if_none:"-" }}</td>
                    <td class="rate-value">{{ rate.saleRate|default_if_none:"-" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

</aside>
{% endblock %}

</html>