{% extends "newsapp/base.html" %}
{% load static %}

{% block title %} {{ translations.login }} {% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}" />
{% endblock %}

{% block script %}
<script src="{% static 'users/js/password.js' %}" defer></script>
{% endblock %}

{% block content %}
<main>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert-success">{{ message }}</div>
        {% elif message.tags == 'error' %}
        <div class="alert-error">{{ message }}</div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <div>
        <h1>{{ translations.login }}</h1>
    </div>

    <form method="post" action="{% url 'users:login' %}">
        {% csrf_token %}

        <div class="form-field">
            <label for="id_username_or_email">{{ translations.username_or_email }}<span
                    style="color: crimson">*</span>:</label>
            {{ form.username_or_email }}
        </div>

        <div class="form-field">
            <label for="id_password">{{ translations.password }}<span style="color: crimson">*</span>:</label>
            {{ form.password }}
            <label>
                <input type="checkbox" class="toggle-password" data-target="password">
                <span class="checkbox-label">{{ translations.show_password }}</span>
            </label>
        </div>

        <div class="grid">
            <button type="submit">{{ translations.login }}</button>
            <button type="reset">{{ translations.reset }}</button>
        </div>

        <p class="note">
            <span style="color: crimson">*</span> {{ translations.required_note|safe }}
        </p>
    </form>

</main>
{% endblock %}