{% extends "newsapp/base.html" %}
{% load static %}

{% block title %} {{ translations.login }} {% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}" />
{% endblock %}

{% block script %}
<script src="{% static 'users/js/password.js' %}" defer></script>
{% endblock %}

{% block content %}
<main>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <div>
        <h1>{{ translations.login }}</h1>
    </div>

    <form method="POST" action="{% url 'users:login' %}">
        {% csrf_token %}

        <div class="form-field">
            <label for="id_username_or_email">{{ translations.username_or_email }}<span
                    class="asterisk">*</span>:</label>
            {{ form.username_or_email }}
        </div>

        <div class="form-field">
            <label for="id_password">{{ translations.password }}<span class="asterisk">*</span>:</label>
            {{ form.password }}
            <label>
                <input type="checkbox" class="toggle-password" data-target="password">
                <span class="checkbox-label">{{ translations.show_password }}</span>
            </label>
        </div>

        <div class="grid">
            <button type="submit">{{ translations.login }}</button>
            <button type="reset">{{ translations.reset }}</button>
        </div>
    </form>

    <p class="note">
        <span class="asterisk">*</span> {{ translations.required_note|safe }}
    </p>

</main>
{% endblock %}