{% extends "newsapp/base.html" %}
{% load static %}

{% block title %} {{ translations.password_reset_confirm }} {% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}" />
{% endblock %}

{% block script %}
<script src="{% static 'users/js/password.js' %}" defer></script>
{% endblock %}

{% block content %}
<main>
    <h1>{{ translations.password_reset_confirm }}</h1>
    <form method="POST">
        {% csrf_token %}

        <div class="form-field">
            <label for="id_new_password1">{{ translations.new_password }}<span
                    class="asterisk">*</span>:</label>
            {{ password_form.new_password1 }}
            <label>
                <input type="checkbox" class="toggle-password" data-target="new_password1">
                <span class="checkbox-label">{{ translations.show_password }}</span>
            </label>
        </div>

        <div class="form-field">
            <label for="id_new_password2">{{ translations.confirm_new_password }}<span
                    class="asterisk">*</span>:</label>
            {{ password_form.new_password2 }}
            <label>
                <input type="checkbox" class="toggle-password" data-target="new_password2">
                <span class="checkbox-label">{{ translations.show_password }}</span>
            </label>
            {% if password_form.errors.new_password1 %}
            <ul class="errorlist">
                {% for error in password_form.errors.new_password1 %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="grid">
            <button type="submit" name="change_password">{{ translations.change_password }}</button>
            <button type="reset">{{ translations.reset }}</button>
        </div>
    </form>
    <p class="note">
        <span class="asterisk">*</span> {{ translations.required_note|safe }}
    </p>
</main>
{% endblock %}