{% extends "newsapp/base.html" %}
{% load static %}

{% block title %} {{ translations.password_reset }} {% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}" />
{% endblock %}

{% block content %}
<main>
    <h1>{{ translations.password_reset }}</h1>

    {% if messages %}
    <div>
        {% for message in messages %}
        <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <form method="POST" action="{% url 'users:password_reset' %}">
        {% csrf_token %}
        <div class="form-field">
            <label for="id_username_or_email">{{ translations.username_or_email }}<span
                    class="asterisk">*</span>:</label>
            {{ form.username_or_email }}
        </div>

        <div class="grid">
            <button type="submit">{{ translations.submit }}</button>
            <button type="reset">{{ translations.reset }}</button>
        </div>
    </form>

    <p class="note">
        <span class="asterisk">*</span> {{ translations.required_note|safe }}
    </p>
</main>
{% endblock %}
