{% autoescape off %}
<body>
    <div style="font-family: Arial, sans-serif; max-width: 600px; margin: auto; padding: 20px; border: 1px solid #e0e0e0; border-radius: 10px;">
        <h2 style="text-align: center; color: #333;">Password Reset Request</h2>
        <p>Hi {{ user.username }},</p>
        <p>You requested a password reset for your account. Please click the button below to set a new password:</p>
        <div style="text-align: center; margin: 20px 0;">
            <a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}" style="background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Reset Password</a>
        </div>
        <p>If the button above doesn't work, copy and paste the following link into your browser:</p>
        <p style="word-wrap: break-word;">
            <a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}">
                {{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
            </a>
        </p>
        <p>If you didn't request a password reset, please ignore this email.</p>
        <p>Thanks,</p>
        <p><br>The Our Team</p>

        <hr>

        <h2 style="text-align: center; color: #333;">Запит на скидання паролю</h2>
        <p>Привіт {{ user.username }},</p>
        <p>Ви запросили скидання паролю для свого облікового запису. Будь ласка, натисніть кнопку нижче, щоб встановити новий пароль:</p>
        <div style="text-align: center; margin: 20px 0;">
            <a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}" style="background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Скинути пароль</a>
        </div>
        <p>Якщо кнопка вище не працює, скопіюйте та вставте наступне посилання у свій браузер:</p>
        <p style="word-wrap: break-word;">
            <a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}">
                {{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
            </a>
        </p>
        <p>Якщо ви не запитували скидання паролю, будь ласка, ігноруйте цей лист.</p>
        <p>Дякуємо,</p>
        <p><br>Наша команда</p>
    </div>
</body>
{% endautoescape %}