{% extends "newsapp/base.html" %}
{% load static %}

{% block title %}{{ translations.update_profile }}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}" />
{% endblock %}

{% block script %}
<script src="{% static 'users/js/password.js' %}" defer></script>
<script src="{% static 'users/js/gender.js' %}" defer></script>
<script src="{% static 'users/js/file_choose.js' %}" defer></script>
{% endblock %}

{% block content %}
<main>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <h1>{{ translations.update_profile }}</h1>

    <div class="profile-container">
        <div class="main-content">
            <!-- Personal Data Update Section -->
            <div class="personal-data-section">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2>{{ translations.personal_data }}</h2>

                    {% for field in data_form %}
                        <div class="form-field">
                            <label for="{{ field.id_for_label }}">{{ field.label|safe }}</label>
                            {{ field }}

                            {% if field.errors %}
                                <ul class="errorlist">
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div class="grid">
                        <button type="submit" name="update_profile">{{ translations.update_data }}</button>
                        <button type="reset">{{ translations.reset }}</button>
                    </div>
                </form>
            </div>

            <!-- Password Change Section -->
            <div class="password-change-section">
                <form method="post">
                    {% csrf_token %}
                    <h2>{{ translations.change_password_title }}</h2>
                    {% for field in password_form %}
                        <div class="form-field">
                            <label for="{{ field.id_for_label }}">{{ field.label|safe }}</label>
                            {{ field }}
                            <label>
                                <input type="checkbox" class="toggle-password" data-target="{{ field.id_for_label }}">
                                <span class="checkbox-label">{{ translations.show_password }}</span>
                            </label>
                            {% if field.errors %}
                                <ul class="errorlist">
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div class="grid">
                        <button type="submit" name="change_password">{{ translations.change_password }}</button>
                        <button type="reset">{{ translations.reset }}</button>
                    </div>
                </form>
                <p class="note">
                    <span class="asterisk">*</span> {{ translations.required_note|safe }}
                </p>
            </div>
        </div>

        <!-- Avatar Update Section -->
        <div class="avatar-section">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>{{ translations.avatar }}</h2>
                <div class="avatar">
                    {% if user.profile.avatar %}
                        <img src="{{ user.profile.avatar.url }}" alt="Avatar of {{ user.username }}" />
                    {% else %}
                        <img src="https://res.cloudinary.com/dhyxiv6lz/image/upload/v1730812731/nexussuiteapp/profile_images/default_avatar_a1kzyk.png" alt="Default Avatar" />
                    {% endif %}
                </div>
                <div class="form-field file-input">
                    <label for="id_avatar">{{ translations.upload_new_avatar }}</label>
                    <div class="file-upload-wrapper">
                        <!-- Hidden file input field -->
                        <input type="file" id="avatar-upload" name="avatar" class="file-input-field"
                            onchange="updateFileName()">
                        <label for="avatar-upload" class="file-label">{{ translations.choose_file }}</label>
                        <span id="file-name">{{ translations.no_file_chosen }}</span>
                    </div>
                    {% if avatar_form_errors.avatar %}
                    <ul class="errorlist">
                        {% for error in avatar_form_errors.avatar %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="grid">
                    <button type="submit" name="update_avatar">{{ translations.update_avatar }}</button>
                    <button type="submit" name="remove_avatar" class="remove-avatar-btn">
                        {{translations.remove_avatar}}
                    </button>
                </div>
            </form>
        </div>

    </div>
</main>
{% endblock %}